 <!------ lottie div for mobile screen-->
 <div class="row" style="margin-left: 0px; margin-right: 0px; height: 100%">
    <div class="feature_of_investing " style="width: 50%; display: none; " >
        <div style=" margin-top: 67px; margin-bottom: 40px; margin-left: 25px;">
            <img src="./assets/image/rnrlogo_svg.svg" alt="" width="243px" height="97px">
        </div>
        
        <div class="lottie">
            <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_2RSPTv.json" background="transparent" speed="1" style="width: 95%;" loop autoplay></lottie-player>
        </div>
    </div>
 <!--------- end mobile screen -->
<div class="background" style="width: 100%; height: 100%; position: relative; background-image: url(./assets/image/Group_299.png);background-position: center center; background-size: cover; display: flex; align-items: center; flex-direction: column;" >

 <div class="dashboard_box">
     <div class="dashboard_component">
         <p style="font-size: 24px; line-height: 16px; margin-top: 10px; font-weight: 600;"> Your Active Subscription </p>
         <p style="color: #44475B; line-height: 12px; font-size: 18px; margin-top: 30px; font-weight: 300;">Please Select Your Dashboard</p>
         <div class="dashboard_list">
         <mat-list class="p-0">
            <mat-list-item><img class="imgs" src="./assets/image/cubesvg.svg" width="36px" height="36px" style="float: left;"><div class="cont">5 in 5 Strategy</div> <mat-icon class="rtarrow"><div>keyboard_arrow_right</div></mat-icon></mat-list-item>
           
            <mat-divider></mat-divider>
            <mat-list-item><img class="imgs" src="./assets/image/diamond.svg" width="34px" height="34px" style="float: left;"><div class="cont">Dhanwaan</div><mat-icon class="rtarrow">keyboard_arrow_right</mat-icon> </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> <img class="imgs" src="./assets/image/3d.svg" width="45px" height="45px" style="float: left;"><div class="cont">Mispriced Opportunities</div><mat-icon class="rtarrow">keyboard_arrow_right</mat-icon></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><img class="imgs" src="./assets/image/graduation_cap.png" width="44px" height="44px" style="float: left;"><div class="cont">Infored InvestoRR</div> <mat-icon class="rtarrow">keyboard_arrow_right</mat-icon></mat-list-item>
          </mat-list>
          </div>

     </div>
 </div>
 



