<div  class="moblogo" style=" margin-top: 67px; margin-bottom: 40px; margin-left: 25px; display: none;">
    <img src="./assets/image/rnrlogo_svg.svg" alt="" width="243px" height="97px">
</div>
<div class="background" style="width: 100%; height: 100%; position: relative; background-image: url(./assets/image/Group_299.png);background-position: center center; background-size: cover; display: flex; align-items: center; flex-direction: column;" >
    <div class="laplogo" style=" margin-top: 67px; margin-bottom: 40px;">
        <img src="./assets/image/logowhite1.png" alt="" width="243px" height="97px">
    </div>
    <!-- <div  class="moblogo" style=" margin-top: 67px; margin-bottom: 40px; margin-left: 25px; display: none;">
        <img src="./assets/image/rnrlogo_svg.svg" alt="" width="243px" height="97px">
    </div> -->
    <div id="main_login">
        <div class="row" style="margin-left: 0px; margin-right: 0px; height: 100%">
        <div class="feature_of_investing " style="width: 50%; " >
            <p style="width: 153.88; height: 43.8; color: #0A0A0A; margin-left:35px; margin-top: 43px; font-size: 32px; padding-bottom: 10px;"> Future of</p>
            <div style="height: 45.99px; width: 305.51px; font-size: 60px; color: #FB714D; margin-left: 33px;">
                <b>Investing  </b>          
            </div>
            <div class="lottie">
                <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_2RSPTv.json" background="transparent" speed="1" style="width: 95%;" loop autoplay></lottie-player>
            </div>
            <div class="terms" style="text-align: center; margin-top: 0px;">
                privacy policy <a href="">Terms & Conditions</a><i class="bi bi-info-circle"></i>
                

            </div>
        </div>
    
        <div class="login_panel col-md-6" style="background: #274869;">
            <div class="formfield">
                <div class="mainheading">
                    Sign in to Dashboard
                </div>
                <div class="screen_heading">
                    Reset Password
                </div>
               
                
                <div class="emailfeild">
                    
                    
                    <form class="example-form" style="text-align: center;" >

                        <!-- <span tooltip="
                        <div class='tip_new'><p>Hello i'm a <strong>bold</strong> text!</p></div>" placement="right">
                            Tooltip with HTML content
                          </span> -->
                        
    
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label style="color: #FFFFFF; font-size: 14px;">New Password</mat-label>
                          <input matInput type="password" name="password" placeholder="********" autocomplete="off">
                          <mat-icon matSuffix tooltipClass="tooltip_new_password" tooltip="<div class='tip_new'><div class='main_heading'>Your Password Must</div><br><p class='tip_content'> Be at-least 8 characters<br>Include an Upercash letter<br>Include a number or a special chareacter<br>Not start and end with a space</p></div>" placement="right"><i class="fas fa-info-circle info"></i></mat-icon>
                         </mat-form-field>
                         <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label style="color: #FFFFFF; font-size: 14px;">Confirm New Password</mat-label>
                          <input matInput type="password"  name="conf_password" placeholder="********" autocomplete="off">
                          <mat-icon matSuffix tooltipClass="tooltip_new_password" tooltip="<div class='tip_new'><div class='main_heading'>Your Password Must</div><br><p class='tip_content'> Be at-least 8 characters<br>Include an Upercash letter<br>Include a number or a special chareacter<br>Not start and end with a space</p></div>" placement="right"><i class="fas fa-info-circle info"></i></mat-icon>
                         </mat-form-field>
                         <a routerLink="../selectdashboard" routerLinkActive="active"><button class="button1">Reset</button></a>
                      </form>
    
                </div>

            </div>
    
        </div>
        </div>
    
    </div>
</div>


