#main_login{
    width: 1012px; 
    height: 536.89px;
    background: white; 
    margin-top: 60px; 
    
}
// .example-form {
//     min-width: 150px;
//     max-width: 5px;
//     width: 100%;
//   }
  
  .example-full-width {
    width: 358.3px;
    
  }
  .button1{
      width: 358.3px;
      height: 50.54px;
      color: #ffffff;
      background: #FB714D;
      margin-top: 50px;
      text-align: center;
      border-radius: 5px;
      border: 0px;
      
  }
  .oneliner{
    color: #FFFFFF;
    text-align: center;
    margin-top: 50px;
    font-size: 13px;
  }
  .formfield{
    margin-top: 75px;
    margin-left: 62px;
    // text-align: center;
     width: 360px;
    // margin-left: 95px;
  }